@use "../../scss" as *;

.aboutme {
    @include flex(center, center);
    padding: 60px;
    background-color: #FEEEE3;

    &__image {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__content {
        @include flex(center, space-between);
        animation: fadeIn 0.5s linear, slideDown 0.3s linear;
        flex-direction: column;
        padding: 15px;
        width: 50%;
        height: 100%;
        &__title {
            padding: 30px 0;
            font-size: 40px;
            font-weight: 600;
        }

        &__text {
           text-align: center; 

           div {
                padding: 20px 0;
                font-weight: bold;
                font-size: 18px;
           }

           p {
                font-size: 15px;
           }
        }
    }
}