$body-bg: #FEEEE3;
$main-color: rgb(254,238,227);
$txt-color: rgb(44,47,131);

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$border-radius: 30px;
$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrant", sans-serif;
